<!-- <form class="container">
  <div class="form-group">
    <label for="exampleInputEmail1">Endereço de email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Seu email">
    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Clique em mim</label>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form> -->

<div class="container--center wrapper fadeInDown">
  <div class="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <!-- <div class="formContent__icon">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div> -->

    <!-- Login Form -->
    <form>
      <div class="row">
        <div class="col">
          <div>
            <label for="">Usuário</label>
            <input type="text" name="" id="">
            <div>
              <span>
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="">Senha</label>
          <input type="text" id="password" class="" name="login">
          <div>
            <span>
              <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </div>
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
